$primary-red = #E52825
$hover-red = #E63F3C
$active-red = #CC302D
$primary-blue = #70dedc
$hover-blue = #7aefed
$active-blue = #6fd8d6
$primary-purple = #8789FE
$hover-purple = #9394fe
$active-purple = #797be4

$text-black-title = #404249
$text-black = #444444
$text-gray = #909298
$text-white = #ffffff
$text-black-input = #26272B
$text-light-gray-placeholder = #c4c4c4

$background-black = #282828
$background-white = #f2f2f7
$background-disabled = #F7F8FA
$background-white-input = #FCFCFC
$background-black-input = #282828
$background-order = #F5F5F5


$border-gray = #DADDE6

$shadow-color = #736F791A