@require "/colors.styl"

a, router-link
  color $text-black !important
  text-decoration: none !important

a:hover, router-link:hover
  color $hover-purple !important

a:active, router-link:active
  color $active-purple !important

