remify(value) {
  return unit(value/16, 'rem');
}

.center-container
  min-height calc(100vh - 130px)
  display flex
  justify-content center
  flex-direction column

.full-container
  min-height calc(100vh)

.product-title-preview
  max-width: 165px
  font-weight: bold
  overflow: visible
  white-space: normal

.product-preview
  text-decoration: none
  display: inline-block


